* {
    margin: 0%;
    padding: 0%;
}
#header {
    width: 100vw;
    height: 10vw;
    background-color: rgb(187, 187, 187);
}
#searchInput {
    height: 5vw;
    width: 40vw;
}
#searchButton {
    height: 5vw;
    width: 5vw;
}
#search {
    width: 50vw;
    height: 5vw;
}

#searchList {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin: 5px;
}
#video {
    width: 320px;
    height: 250px;
    background-color: rgb(240, 240, 240);
    padding: 3px;
}